---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

---

<PageLayout>
  <PageMeta title={`Kontak | ${SITE_TITLE}`} slot="meta" />
  <section slot="main" class="mt-20">
    <strong>Sekretariat</strong><br>
    Sekretariat Percama, Komplek UKM Olahraga #11, Saraga<br><br>
    <strong>Email</strong><br>
    percamaitb1967@gmail.com
  </section>
</PageLayout>
