---
---

<section class="mb-8 pt-6">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <!-- <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        PERCAMA
      </span> -->
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://lichess.org/team/percama-itb"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Percama ITB on Lichess"></i>
        <span>Lichess</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://www.chess.com/club/percama-itb"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Percama ITB on Chess.com"></i>
        <span>Chess.com</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://www.facebook.com/groups/74843246061/"
        aria-label="Percama ITB on Facebook"
      >
        <i class="fa-brands fa-facebook" aria-hidden="true" title="Percama ITB on Facebook"></i>
        <span>Facebook</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://www.instagram.com/percamaitb/"
      >
        <i class="fa-brands fa-instagram" aria-hidden="true" title="Percama ITB on Instagram"></i>
        <span>Instagram</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div class="text-justify">
  <strong>Sejarah</strong><br>
  <p>Pada tahun 1967 para penggemar catur ITB saat itu berinisiatif untuk mendirikan unit bernama Persatuan Catur Mahasiswa (PERCAMA) ITB. PERCAMA didirikan dengan tujuan untuk menyalurkan minat dan bakat para penikmat dan pemain catur di kalangan civitas akademika ITB. Di PERCAMA, mahasiswa dapat mengembangkan keterampilan olahraga catur dan kemampuan organisasi, terutama dalam hal manajemen turnamen catur. PERCAMA sering mengirimkan wakil-wakilnya untuk mengikuti berbagai turnamen catur tingkat regional dan nasional, baik untuk kalangan mahasiswa maupun umum. Selain itu, PERCAMA ITB juga mengadakan turnamen-turnamen baik dalam skala kampus (TPB CUP dan Home Tournament) maupun regional (Rapid Chess Series ITB). Salah satu sejarah besar bagi PERCAMA adalah menginisiasi Kejuaraan Nasional Antar Mahasiswa se-Nasional yang kemudian terus berlanjut hingga sekarang ini menjadi agenda rutin KONI tiap tahunnya.
  </p><br>
  <strong>Kegiatan</strong><br>
  <p>PERCAMA ITB memiliki beberapa kegiatan rutin yang diadakan setiap tahunnya, diantaranya adalah:</p>
  <ul>
    <li>Partisipasi dalam Open House Unit ITB (rekrutmen anggota baru)</li>
    <li>Pelatihan dan pelantikan calon anggota baru</li>
    <li>Latihan rutin</li>
    <li>Penyelenggaraan turnamen (TPB Cup, Home Tournament, Rapid Chess Series ITB)</li>
    <li>Partisipasi dalam turnamen-turnamen regional maupun nasional</li>
    <li>Acara keakraban</li>
  </ul><br>
  <strong>Fasilitas / Layanan</strong><br>
  <ul>
    <li>Sekretariat</li>
    <li>Jam Catur</li>
    <li>Papan & Buah Catur</li>
    <li>Buku Catur</li>
    <li>Informasi turnamen catur</li>
    <li>Pelatihan</li>
    <li>Organisasi</li>
  </ul>
  </div>
  <!--<div>
    <p class="mb-8">
      Hello! This is a starter template to build your own blog with
      <a href={"https://github.com/flexdinesh/blogster"} target="_blank"
        >Blogster</a
      >. Available in four themes
      <a href={"https://blogster-minimal.netlify.app"} target="_blank"
        >minimal</a
      >,
      <a href={"https://blogster-sleek.netlify.app"} target="_blank">sleek</a>,
      <a href={"https://blogster-newspaper.netlify.app"} target="_blank"
        >newspaper</a
      > and
      <a href={"https://blogster-bubblegum.netlify.app"} target="_blank"
        >bubblegum</a
      >. This blog is a demo for <strong>newspaper</strong> theme. Get started with
      one simple command.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">npx create-blogster@latest --theme newspaper</code
      >
    </p>
  </div>-->
</section>
